<!DOCTYPE html>
<html>

<head>
    <title>{playlist_name} Summary</title>
    <link rel="stylesheet" type="text/css" href="../styles/dashboard_style.css">

    <!-- JavaScript function to toggle between feature plots -->
    <script>
        function showPlot(plotId) {{
            var plots = document.getElementsByClassName("plot");
            for (var i = 0; i < plots.length; i++) {{
                plots[i].style.display = "none";
            }}
            document.getElementById(plotId).style.display = "block";
        }}
    </script>
</head>

<body>
    <!-- Playlist Summary -->
    <div id="playlist-summary">
        <h2>Playlist Summary</h2>

        <div id="top-line">{playlist_name}</div> <!-- Separate id for spacing. -->
        <div id="line2">Public playlist created on {playlist_created_on}</div>

        <div id="line1">{num_dur_songs_msg}</div>
        <div id="line2">Total song runtime</div>

        <div id="line1">{top_genres_msg}</div>
        <div id="line2">Top 5 genres</div>

        <div id="line1">{recommended_artists_msg}</div>
        <div id="line2">Similar artists to this playlist</div>

        {trend_msg_line1_html}
        {trend_msg_line2_html}
    </div>

    <!-- Feature Plots -->
    <div id="feature-plots">
        <h2>Song Feature Plots</h2>

        <!-- Plot Background Container -->
        <div class="plot-background"></div>

        <!-- Buttons for toggling between feature plots -->
        <div class="plot-buttons">
            <button onclick="showPlot('tempo_plot')">Show Tempo Plot</button>
            <button onclick="showPlot('danceability_plot')">Show Danceability Plot</button>
            <button onclick="showPlot('energy_plot')">Show Energy Plot</button>
            <button onclick="showPlot('speechiness_plot')">Show Speechiness Plot</button>
        </div>

        <!-- Note: Below embedded src sizes should be slightly larger than actual plot sizes. -->
        <div class="plots-container">
            <div id="tempo_plot" class="plot">
                <embed src="summary_dashboard_components/tempo_plot.html" width="630" height="360">
            </div>
            <div id="danceability_plot" class="plot" style="display: none;">
                <embed src="summary_dashboard_components/danceability_plot.html" width="630" height="360">
            </div>
            <div id="energy_plot" class="plot" style="display: none;">
                <embed src="summary_dashboard_components/energy_plot.html" type="text/html" width="630" height="360">
            </div>
            <div id="speechiness_plot" class="plot" style="display: none;">
                <embed src="summary_dashboard_components/speechiness_plot.html" width="630" height="360">
            </div>
        </div>
    </div>

    <!-- Artist Summary Table -->
    <div id="artist-summary">
        <h2>Artist Summary</h2>
        {artist_summary_table_html}
    </div>

</body>

</html>